.registerLogo {
    font-family: 'yeseva-one';
}

.registerInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--accent-color);
}

.registerGoBack {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 20%;
    align-self: flex-start;
}

@media screen and (min-width: 1200px) {
    .registerInputs {
        width: 20%;
    }

    .registerGoBack {
        align-self: center;
    }
}