.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 3rem;
    width: 100%;
    margin: 0.5rem;
    font-size: 14px;
    cursor: pointer;
}

.buttonNormalColor {
    background-color: var(--main-color);
    color: white;
}

.buttonAlternativeColor {
    background-color: white;
    color: black;
}

.buttonWarningColor {
    background-color: #FDD9D9;
    color: #A70000;
    font-weight: bold;
}

.buttonGrayColor {
    background-color: var(--gray-background-color);
    font-weight: bold;
}