.editableInputContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 90%;
    align-items: center;
    margin: 0.5rem 0;
    border-radius: 10px;
}

.editableInputInfo {
    flex: 6;
    margin: 0.2rem 1rem;
}

.editableInputIcon {
    flex: 1;
    cursor: pointer;
}

.editableInputTitle {
    color: var(--dark-gray);
    margin: 0.5rem 0;
}

.editableInputDisabled {
    user-select: none;  
    pointer-events: none;  
}

.editableInputData {
    height: 1rem;
    font-size: 20px;
    color: black;
    border: none;
    outline: none;
    margin: 0.5rem 0;
}

.editableInputData:focus {
    border: none;
    outline: none;
}

@media screen and (min-width: 1200px) {
    .editableInputContainer {
        width: 30%;
    }
}

@media screen and (max-width: 700px) {
    .editableInputContainer {
        width: 100%;
    }

    .editableInputInfo {
        flex: 4;
    }

    .editableInputTitle{
        font-size: 12px;
        margin: 0.2rem 0;
    }

    .editableInputData {
        font-size: 15px;
    }
}