.Logo {
    font-family: 'yeseva-one';
    display: flex;
    align-items: center;
    color: var(--main-color);
    margin: 2rem 0;
}

.Logo > h1 {
    margin: 0;
    font-size: 35px;
}

.Logo > h2 {
    margin: 0;
    font-size: 25px;
}

.logoVertical {
    flex-direction: column;
}

.logoHorizontal {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.logoHorizontal > h2 {
    margin-left: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .Logo > h1 {
        font-size: 50px;
    }
    
    .Logo > h2 {
        font-size: 40px;
    }

    .Logo {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 500px) {
    .Logo > h1 {
        font-size: 20px;
    }
    
    .Logo > h2 {
        font-size: 15px;
    }

    .Logo {
        margin: 4rem 0;
    }
}