.whatsappContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.whatsappInfoContainer,
.whatsappButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.whatsappButton, .whatsappInput, .whatsappText, .whatsappTitle {
    width: 90%;
}

@media screen and (min-width: 1200px) {
    .whatsappButton, .whatsappInput, .whatsappText, .whatsappTitle {
        width: 50%;
    }
}