.emailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.emailInfoContainer,
.emailButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.emailButton, .emailInput, .emailText, .emailTitle {
    width: 90%;
}

@media screen and (min-width: 1200px) {
    .emailButton, .emailInput, .emailText, .emailTitle {
        width: 50%;
    }
}