.menuBarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    bottom: 0;
    align-items: center;
    height: 5rem;
}



@media screen and (min-width: 1200px) {
    .menuBarContainer{
        justify-content: space-evenly;

    }
} 