.usersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.usersContent {
    width: 90%;
}

.usersTitle {
    margin-left: 10%;
}

@media screen and (min-width: 1200px) {
    .usersContent {
        width: 30%;
    }
}