.packagesAdminContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.packagesAdminCentered {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}